@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.header{
    background: #DFD3C3;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
.header-title{
    color: #596E79;
    font-size: 8rem;
    width: 100%;
    padding: 0 560px;
}
.main{
    width: 100%;
    height: 100%;
    background: #F0ECE3;
}
.video-div{
    display: flex;
    text-align: center;
}
.video-text{
    color: #596E79;
    font-size: 3rem;
    margin-top: 200px;
}
.video-main{
    width: auto;
    height: auto;
    margin: 5% 0 5% 5%;
}
.footer{
    height: 100px;
    width: 100%;
    background: #DFD3C3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    font-size: 3rem;
    color: #596E79;
    position: absolute;
}